body{
    margin:0px;
    padding:0px;
    
    border: 2px solid red;
    
}

.header{
    background-color: #1F2937;
    display: flex;
    border: 2px solid red;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left:180px;
    padding-right:180px;
    
}


.links{
        
        display: flex;
        gap: 32px;
        
     }

a{
    color: #1c971c
}

.headerbutton {
    background-color: #3882f6;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.3s;
    color: white;
    
}

.headerbutton:hover{
    background-color: black;
}

.upper{
    
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 90px;
}

.lower{
    
    display: flex;
    padding-bottom: 90px;
    justify-content: space-between;
    
}

.logo{
    margin-top: 0px;
    margin-bottom: 0px;
    
    
     }

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.text{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    
}

p{
    font-size: 18px;
    color: #E5E7EB;

}

.portal{
    width: 20%;
    height: auto;
    padding-right: 90px;
}

.topmid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.title,
.information{
    display: flex;
}