body{
    font-family: roboto;
    
    
    
    
}
.bridge {
    width:360px;
    height: 180px;
    border: 2px solid red;
}

.header{
    
    
    display:flex;
    flex:1 1 auto;
    height:270px;
    background-color: #1F2937;
    
    border: 2px solid red;
    align-items: flex-start;
    
    flex-wrap: wrap;
}



.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    background-color: #1F2937;
    height:35px;
}

.content {
    
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid red
}

.right{
    border: 2px solid red;
    display:flex;
    flex-direction: column;
   
}

.left{
    border: 2px solid red;
    display:flex;
    flex-direction: column;
   
}

.first{
    align-self: flex-start;
}